* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: rgb(172, 239, 229);
  padding:30px;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow: auto;
  /* column-gap: 20px; */
  /* row-gap: 10px; */
}
#main::-webkit-scrollbar{
  display: none;
}
.cards{
  height:320px;
  width:250px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cards img{
  height:150px;
  width:150px;
  border-radius: 50%;
  object-fit: cover;
}
.cards p{
  text-align: center;
  font-weight: 600;
  font-size: 12px;
}
.cards button{
  background-color: rgb(72, 128, 249);
  border-radius: 7px;
  border: none;
  padding: 10px 15px;
  color: white;
}
.cards h2{
  font-weight: 500;
  font-size: 26px;
}
.cards button:hover{
  background-color: transparent;
  color: black;
  border:2px solid rgb(72, 128, 249);
  
}
