* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html, body {
    height: 100%;
    width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: #4a545b;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
    gap: 60px;
    flex-wrap: wrap;
}

.card {
    height: 450px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h4{
  font-size: 20px;
  font-weight: 600;
}
.box {
    position: absolute;
    bottom: -30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10px;
    color: white; 
    transition: all 0.4s ease; 
    z-index: 10;
}

.card:hover .box {
    bottom: 0%;
    background: linear-gradient(transparent, black);
}

i {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

i:hover {
    color: #ff4d4d;
}