* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
  display: flex;
  flex-direction: column;
  padding:40px;
  gap:20px;
  align-items:center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
h1{
  background-color: maroon;
  padding: 10px 20px;
  text-align: center;
}
button{
  padding: 10px 20px;
  background-color: royalblue;

}