* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom ,black, #123);
    color: white; 
}
main{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
}
.reel{
  height: 900px;
  width: 500px;
  background-color: black;
  border-radius: 20px;
  position: relative;
  padding: 25px;
}
.profile{
  border-radius: 50%;
  height: 70px;
  width:70px;
  background-position: center;
  background-size: cover;
}
.desc{
  position: absolute;
  bottom: 60px;
  /* margin-bottom: 30px; */
   display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: wrap;
  gap:15px;
}
.desc>button{
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
}


