.carter-one-regular {
  font-family: "Carter One", system-ui;
  font-weight: 400;
  font-style: normal;
}

*{
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  margin: 0%;
  padding: 0px;
}
.container {
  /* Direct link to an image file */
  background-image: url('https://images.unsplash.com/photo-1598814165187-ed79437d7490?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBvcnNjaGUlMjA5MTF8ZW58MHx8MHx8fDA%3D');
  
  /* IMPORTANT: The container needs height to be visible */
  height: 100vh; 
  
  /* Ensures the image covers the whole screen without stretching */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  /* Optional: Center your text inside the image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

button{
  margin: 10px;
  padding:8px;
  background-color: #FFD5CE;
  border: 1px solid red;
  border-radius: 9%;
  transition: background-color 0.5s ease, scale 0.5s ease; 
}
button:hover{
  background-color: black;
  color:aliceblue;
  border: 1px solid orange;
  transform: scale(1.05);
}