* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    padding: 10px;
    gap:50px
}
.card{
    height: 400px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-bottom: 5px;
}
.card h3{
    margin-bottom: 5px;
}
.card p{
    font-size: 12px;
    font-weight: 600px;
}