* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#box{
  height: 300px;
  width: 300px;
  background-color: crimson;
  border: 2px solid white;
  border-radius: 5px;
}
button{
  padding: 15px 20px;
  border-radius: 5px;
  color: whitesmoke;
  background-color: rgb(105,175,70);
  border: none;
  font-weight: 600;
}
button:active{
  scale: 0.95;
  /* background-color: rgb(255,175,175); */
}