* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
  background-color: black;
  height: 100%;
    width: 100%;
}
#nav{
  background-color: gray;
  height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }
h4{
  color: whitesmoke;
  font-weight: 400;
}
#list {
  height: 20%;
  width: 100%;
  background-color: white;
  display: flex; /* This still applies to all other div elements */
  align-items: center;
  justify-content: center;
  gap: 30px;
  
  position: relative; /* Acts as the anchor for the h1 */
}

#list h1 {
  /* This "removes" it from the flex calculation */
  position: absolute; 
  
  /* Positions it at the top-left, independent of the flex row */
  top: 20px;
  justify-content: center;
  
  margin: 0;
  font-size: 48px;
  font-family: sans-serif;
}

/* The other divs will automatically remain part of the flex row */
#list div {
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}
#switch-div{
  height:60%;
  width: 100%;
  background-color: white;
  color: black;
  position: relative;
  padding:40px;
}
#switch{
  font-size: 40px;
  font-style: bold;
  position: absolute;
  top:0px;

}
#switch-div div{
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  top:40px;
}