* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
    padding:1%;
    background-color: black;
}
main{
  height: 100%;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25,25,25);
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}
button{
  background-color: crimson;
  color: white;
  padding: 10px 20px;
  z-index: 2;
  cursor: pointer;
}
button:active{
  scale: 0.95;
}