* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body ,#root{
    height: 100%;
    width: 100%;
}
.nav-container{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

